In [2]:
from requests_html import HTMLSession

In [93]:
# session = HTMLSession()

In [94]:
# r = session.get(url)

In [95]:
# #print(r.html.text)
# sel='#acc_1-0_panel_3 > ul:nth-child(5) > li:nth-child(1)'

In [96]:
# def get_text_link_from_sel(sel):
#     mylist = []
#     try:
#         results = r.html.find(sel)
#         for result in results:
#             mytext = result.text
#             print(mytext)
#             mylink = list(result.absolute_links)[0]
#             print(mylink)
#             mylist.append((mytext, mylink))
#         return mylist
#     except:
#         return None

In [97]:
# results = r.html.find(sel)
# results

In [98]:
# print(get_text_link_from_sel(sel))

In [3]:
#coding=utf-8
from urllib import request   #python3使用urllib,python2可以使用urllib2
from bs4 import BeautifulSoup
from lxml import etree
import csv
import pandas as pd
import re

In [51]:
#打开url，获取所有table的内容
course = 'https://warwick.ac.uk/study/postgraduate/courses/'
page = request.urlopen(course)
soup = BeautifulSoup(page,'lxml')
#table_node = soup.find_all('table')

In [58]:

# for i in soup.find_all('a',text='courses'):
#     print(i.attrs['href'])

In [59]:
courses=[]
for i in soup.find_all('a')[64:]:
    courses.append(i.attrs['href'])

In [63]:
final=[]
for i in courses:
    if 'postgraduate' in i:
        final.append(i)

In [88]:
final=final[:-1]

In [97]:
names=[]
for i in final:
    name=i.split('/')[-1]
    names.append(name)

In [98]:
df=pd.DataFrame(list(zip(names,final)),columns=['Course','Link'])

In [93]:
Gmat=[]
for i in final:
    url = i
    page = request.urlopen(url)
    soup = BeautifulSoup(page,'lxml')
    test=soup.find_all(string=re.compile("GMAT"))
    temp=''
    for i in test:
        temp+=i
    Gmat.append(temp)
#table_node = soup.find_all('table')

In [94]:
Ielts=[]
for i in final:
    url = i
    page = request.urlopen(url)
    soup = BeautifulSoup(page,'lxml')
    test=soup.find_all(string=re.compile("IELTS"))
    temp=''
    for i in test:
        temp+=i
    Ielts.append(temp)
#table_node = soup.find_all('table')

In [95]:
Degree=[]
for i in final:
    url = i
    page = request.urlopen(url)
    soup = BeautifulSoup(page,'lxml')
    test=soup.find_all(string=re.compile("degree"))
    temp=''
    for i in test:
        temp+=i
    Degree.append(temp)
#table_node = soup.find_all('table')

In [99]:
df['GMAT']=Gmat
df['IELTS']=Ielts
df['Degree']=Degree

In [100]:
df

,Course,Link,GMAT,IELTS,Degree
0,accountingandfinance,https://warwick.ac.uk/study/postgraduate/cours...,,"IELTS overall score of 7.0, minimum component ...",Explore our Accounting and Finance taught Mast...
1,lifelonglearningphd,https://warwick.ac.uk/study/postgraduate/cours...,,"IELTS overall score of 7.0, minimum component ...",Find out more about this Adult Education and L...
2,,https://warwick.ac.uk/study/postgraduate/cours...,,"IELTS overall score of 6.5, minimum component ...",Find out more about this CDT to Advance the De...
3,criticalcarepractice,https://warwick.ac.uk/study/postgraduate/cours...,,,Explore our Advanced Clinical Practice (Critic...
4,clinicalpractice,https://warwick.ac.uk/study/postgraduate/cours...,,,Skills from this degreeHold a BSc degree at 2n...
...,...,...,...,...,...
250,vmcancientgreece,https://warwick.ac.uk/study/postgraduate/cours...,,"IELTS overall score of 7.0, minimum component ...",Explore our Visual and Material Culture of Anc...
251,vmcancientrome,https://warwick.ac.uk/study/postgraduate/cours...,,"IELTS overall score of 7.0, minimum component ...",Explore our Visual and Material Culture of Anc...
252,womengenderstudies,https://warwick.ac.uk/study/postgraduate/cours...,,"IELTS overall score of 7.0, minimum component ...",A Master’s degree (or equivalent) in Sociology...
253,worldliterature,https://warwick.ac.uk/study/postgraduate/cours...,,"IELTS overall score of 7.5, minimum component ...",Explore our World Literature taught Master's d...
254,writing,https://warwick.ac.uk/study/postgraduate/cours...,,"IELTS overall score of 7.5, minimum component ...",Explore our taught Master's degree in Writing....

In [102]:
df.to_excel('output.xlsx', index=False)

In [84]:
#test=soup.find_all(string=re.compile("GMAT"))

In [88]:
#test

['We may consider candidates applying to MSc Business Analytics (online delivery, part-time) with non-traditional qualifications and backgrounds, on the basis of highly relevant work experience or demonstrated interest. If you come from a less quantitative degree background we advise you to take the GMAT or GRE test to demonstrate your quantitative ability.',
 'GMAT is not required for MSc Business Analytics, but a well-balanced GMAT result with 650 or higher overall and a good result in the quantitative reasoning section will add weight to you application.',
 'How can GMAT benefit an MSc application?']

In [85]:
# temp=''

# for i in test:
#     temp+=i
# temp